nav img {
  border: 1px solid white;
}

.boxed-form {
  border: 1px solid #555;
  border-radius: 3px;
  padding: 1rem;
}

.auth-form {
  margin-top: 2rem;
}

.boards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
}

.rounded {
  border-radius: 3px;
}

.board-main {
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.board-main__header {
  height: 3rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.lists {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
}
