@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$bg-primary: #333;
$bg-dark: #000;
$bg-light: #666;

$fg-primary: #eee;
$fg-alt1: #fff;
$fg-alt2: #ccc;

$large-text: 2rem;
$larger-text1: 1.5rem;
$larger-text2: 1.2rem;

body {
  background: $bg-primary;
  color: $fg-primary;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h4, h6 {
  margin: 0 0 0.5em 0;
}

h1 {
  font-size: $large-text;
}

h2 {
  font-size: $larger-text1;
}

header {
  background: $bg-dark;
  color: $fg-alt2;
  margin-bottom: 0.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding: 0 1rem;

  .brand {
    flex: 1;
    font-size: $larger-text1;
  }

  img {
    height: 80%;
    margin: 0 1rem;
  }

  button {
    margin-left: 1rem;
    background: $fg-primary;
    border: 1px solid $fg-alt1;
    border-radius: 3px;
    color: $bg-primary;
    padding: 0.3em 0.5rem;;

    &:hover {
      background: $fg-alt2;
      color: $bg-dark;
    }
  }
}

.centred , .centered{
  text-align: center;
}
